body {
    /* uiGradient - Visions of grandeur */
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000046, #1CB5E0) fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000046, #1CB5E0) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*Have to put 'fixed' on end of linear-gradient for it to work / fill entire screen*/
}

.ie {
    /* uiGradient - Telegram (works with IE, unlike 'Visions of grandeur')*/
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2) fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homePageText {
    text-align: center;
    margin-top: 350px;
    font-size: 2rem;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.title {
    margin-top: 5px;
    font-size: 2rem;
}


/*@media screen and (max-width: 215px) {*/

    /*.name {*/
        /*font-size: 2.25rem;*/
    /*}*/

    /*.title {*/
        /*font-size: 1.25rem;*/
    /*}*/

/*}*/
