/****************************
Generic
/****************************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    position: relative;
}

.container {
    /*width: 90%;*/
    /*position: relative;*/
    /*margin: auto;*/
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin: 200px 0 30px;
}

.icons {
    text-align: center;
    margin: 70px 0 50px;
}

.page-link {
    height: 60px;
    width: 60px;
    padding: 5px;
}

/****************************
Home page
/****************************/

.home-BG {
    /* uiGradient - Visions of grandeur */
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000046, #1CB5E0) fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000046, #1CB5E0) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*Have to put 'fixed' on end of linear-gradient for it to work / fill entire screen*/
}

.ie {
    /* uiGradient - Telegram (works with IE, unlike 'Visions of grandeur')*/
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2) fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, #1c92d2) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homePageText {
    text-align: center;
    margin-top: 250px;
    font-size: 2rem;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.title {
    margin-top: 5px;
    font-size: 2rem;
}

/****************************
Profile page
/****************************/

.profile-BG {
    /* uiGradient - Quepal */
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*.profile-img-container {*/
    /*width: 250px;*/
/*}*/

.profile-image {
    border-radius: 50%;
    width: 250px;
    display: block;
    margin: 30px auto;
}

.icons {
    clear: both;
    text-align: center;
    padding-top: 70px;
}

.page-link {
    margin-top: 75px;
}

h2 {
    margin-bottom: 7px;
}

p {
    font-size: 1.3rem;
}

.contact{
    margin: 0;
}

.loginBtn {
    position: absolute;
    top: -80px;
    left: 1180px;
    width: 30px;
    height: 30px;
}

/****************************
Portfolio page
/****************************/

.portfolio-BG {
    /* uiGradient - Vanusa */
    background: #da4453; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216b, #da4453) fixed; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216b, #da4453) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gallery {
    overflow: auto;
    width: 1200px;
    margin: 0 auto;
}

/*.grid-column {*/
    /*position: relative;*/
    /*float: left;*/
    /*width: 25%;*/
    /*height: 390px;*/
    /*margin-bottom: 10px;*/
/*}*/



.portfolio-image {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: 0 auto;
    background-size: contain;

    /* Vertically and horizontally centre div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icons {
    margin-top: 70px;
    text-align: center;
}

.projectDesc,
.viewCode {
    text-align: center;
}

.projectDesc {
    padding: 10px 55px;
    margin-top: 305px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.viewCode {
    display: block;
    height: 25px;
    padding: 5px 97px;
    font-family: courier, sans-serif;
}

.ie .gallery img {
    top: 0;
    left: 0;
}

/****************************
Bootstrap classes
/****************************/

.transparent.navbar-default {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.glyphicon {
    font-size: 20px;
    color: #0f0f0f;
}

/****************************
Bootstrap Media Queries
/****************************/

/*col-xs-*/
@media (min-width: 768px) {


}
/*col-sm-*/
@media (max-width: 992px) and (min-width: 769px) {
    .container {
        width: 750px;
    }
    .profile-image {
        padding: 0 20px;
    }
}
/*col-md-*/
@media (max-width: 1200px) and (min-width: 993px) {
    .container {
        width: 970px;
    }
}
/*col-lg-*/
@media (min-width: 1201px) {
    .container {
        width: 1170px;
    }
}