* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    position: relative;
}

.container {
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin: 100px 0 50px;
}

#photo {
    border: 1px solid black;
}

