body {
    /* Visions of grandeur */
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000046, #1CB5E0) fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000046, #1CB5E0) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*Have to put 'fixed' on end of linear-gradient for it to work / fill entire screen*/
}

.name {
    margin-top: 300px;
    text-align: center;
    font-size: 3rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
}

.icons {
    margin-top: 70px;
    text-align: center; /* How to center inline elements*/
}

#home {
    width: 80%;
}


/****************************
Media Queries
/****************************/

@media screen and (max-width: 205px) {

    .name {
        font-size: 2.25rem;
    }

    .title {
        font-size: 1.25rem;
    }

}