body {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 1200px;
}

.col-4 {
    position: relative;
    float: left;
    padding: 50px 30px;
}

.col-8 {
    float: left;
    width: 66.66%;
    /*height: 400px;*/
    padding: 50px 10px;
    /*border: 1px solid #FFF;*/
}

.profile-image {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 20px;
    margin-left: 45px;
}

.icons {
    clear: both;
    text-align: center; /* How to center inline elements*/
    padding-top: 70px;
}

.page-link {
    margin-top: 75px;
}

h2 {
    margin-bottom: 7px;
}

p {
    font-size: 1.3rem;
}

.contact{
    margin: 0;
}

/****************************
Media Queries
/****************************/

@media screen and (max-width: 1190px) {

    .container {
        height: 1100px;
        width: 80%;
    }

    h1 {
        margin-bottom: 0;
    }

    h2 {
        text-align: center;
    }

    .col-4 {
        float: none;
        text-align: center;
    }

    .profile-image {
        margin-top: 0;
        margin-left: 0;
    }

    .col-8 {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 80%;
    }

    p {
        text-align: center;
    }

    .icons {
        padding-top: 0;
    }

}

@media screen and (max-width: 770px) {

    .container {
        height: 1150px;
    }

    .icons {
        margin-top: 50px;
    }

    .page-link {
        margin-top: 45px;
    }

}

@media screen and (max-width: 688px) {

    .container {
        height: 1200px;
    }

    .icons {
        margin-top: 50px;
    }

}

@media screen and (max-width: 625px) {

    .container {
        height: 1250px;
    }

    .icons {
        margin-top: 10px;
    }


}

@media screen and (max-width: 580px) {

    .container {
        height: 1300px;
    }

    .page-link {
        margin-top: 10px;
    }

    .icons {
        margin-top: 20px;
        padding-top: 20px;
    }

}

@media screen and (max-width: 502px) {

    .container {
        height: 1350px;
    }

}

@media screen and (max-width: 455px) {

    .container {
        height: 1400px;
    }

}

@media screen and (max-width: 435px) {

    .container {
        height: 1600px;
    }

}