* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: #FFFFFF;
    position: relative;
}

h1 {
    text-align: center;
    margin: 100px 0 50px;
}

.icons {
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.container {
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

.page-link {
    height: 60px;
    width: 60px;
    padding: 5px;
}
